// | -------------------------------------------------------------
// | Globals
// | -------------------------------------------------------------

@use 'base/reset';
@use 'base/root';
@use 'base/font';
@use 'base/list';
@use 'base/container';
@use 'base/breakpoint';
@use 'base/button';
@use 'base/color';
@use 'base/outline';
@use 'base/space-content';

// theme settings
:root {
  --radius-small: 3px;
  --radius-large: 6px;
  --gap-default: 2rem;
  --font-measure: 70ch;
  --font-family-heading: 'Playfair Display', Georgia, serif;
  --font-family-default: 'Lato', sans-serif;
  --font-family-special: 'Lato', sans-serif;
  // light theme
  --font-color: var(--neutral-900);
  --action-color: var(--primary-400);
  --action-color-state: var(--primary-500);
  --background: var(--neutral-100);
  --primary-background: var(--primary-100);
  --neutral-background: var(--neutral-200);
}

// dark color scheme overrides
.darkmode {
  --font-color: var(--neutral-100);
  --action-color: var(--secondary-100);
  --action-color-state: var(--secondary-500);
  --background: var(--dark-100);
  --primary-background: var(--primary-500);
  --neutral-background: var(--neutral-900);
  input, textarea {
    background-color: var(--neutral-800);
    color: var(--neutral-100);
  }
}

// sticky footer on low content pages
html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--font-color);
  background-color: var(--background);

  main {
    flex: 1 0 auto;
  }

  footer {
    flex-shrink: 0;
  }
}

hr {
    padding: 0;
    border: 0;
    height: 10px;
    margin: 40px auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='10'  viewBox='0 0 20 10' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-miterlimit='10'%3e%3cpath fill='none' d='M0 0h20v10H0z'/%3e%3cclipPath id='a'%3e%3cpath d='M0 0h20v10H0z'/%3e%3c/clipPath%3e%3cg clip-path='url(%23a)'%3e%3cpath d='M20 7.384c-4.999-.001-5-4.768-9.999-4.768C5 2.616 5 7.384 0 7.384' fill='none' stroke-width='3' stroke='%23bc72ee'/%3e%3c/g%3e%3c/svg%3e");
  }
  
.author {
  border-radius:50%;
  max-width: 70%;
}

.author-sm {
  border-radius:50%;
  max-width: 40%;
}

img {
  inline-size: auto !important;
}
