---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="404">
  <section class="my-12">
    <div class="container">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 items-start py-8">
        <div class="flex flex-col items-start justify-start lg:col-span-2">
          <h1 class="text-4xl font-bold mb-4">Are you lost?</h1>
          <p class="text-2xl mb-4">This page does not exist. Don't worry though, we got you.</p>
          <p class="text-2xl">
            <a 
              class="text-action-color underline hover:text-action-color-state transition-colors duration-200" 
              href="/"
            >
              Let's get you home!
            </a>
          </p>
        </div>
        <div class="lg:col-span-1">
          <img 
            src="/3d-404.png" 
            alt="404 illustration" 
            class="w-full h-auto hidden lg:block rounded-lg"
          />
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>
