---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="About Me">
    <section class="my-12">
        <div class="space-content container">
          <h1>About Me</h1>
          <p class="text-2xl">
            Welcome! I'm Jen Looper, Head of Academic Advocacy at AWS. I have over 24 years' experience as a web and mobile developer, specializing in creating cross-platform apps, often with an educational focus. I design excellent curriculum on technical topics and am known for the quality of my educational content.
          </p>
          <p class="text-2xl">I'm a multilingual multiculturalist with a passion for hardware hacking, mobile apps, the frontend of the web and various JavaScript frameworks and meta-frameworks, applied machine learning and AI (as well as the ramifications!) and discovering new things every day. On occasion I can be found teaching front-end technology at Boston University's Metropolitan College. I'm also on the Fulbright Specialists roster, just waiting for that right opportunity to help a community.</p>
          <p class="text-2xl">I'm also an author of a textbook, <a href="https://www.amazon.com/Computer-Science-Kids-Storytelling-Approach/dp/1119912512/" target="_blank">Computer Science for Kids: A Storytelling Approach</a> for grades 6-8, aligned to CSTA standards. Learn more about this textbook at <a href="https://cs4kids.club" target="_blank">CS4Kids.club</a>.</p>
          <p class="text-2xl">I also wrote The Illustrated AWS Cloud, also with Wiley, a visual guide to learning fundamental concepts of Cloud computing with AWS. Learn more at <a href="https://illustratedaws.cloud" target="_blank">The Illustrated AWS Cloud web site</a>.</p>
          <p class="text-2xl">In 2018 I founded what became an international nonprofit organization, Front-End Foxes, Inc. Our mission was to educate women worldwide in front-end web and mobile technologies. During the pandemic we pivoted to become a free bootcamp for women. I'm very proud of what we accomplished over five years.</p>
          <p class="text-2xl">You can usually find me on <a href="https://twitter.com/jenlooper" target="_blank">X (Twitter) @jenlooper</a>.</p>
          <p class="text-2xl">I'm also active <a href="https://www.linkedin.com/in/jenlooper/" target="_blank">on LinkedIn</a>.</p>
          <p class="text-2xl">My resume can be found <a href="/assets/jlooper-resume.pdf">here</a>.</p>
          <p class="text-2xl">If you'd like to contact me, fill out <a href="/contact">this form</a>.</p>
        </div>
      </section>
</DefaultLayout>
