---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import ContactForm from '../components/ContactForm.vue';
---

<DefaultLayout title="Contact Me">
   
    <main class="container">
      <h1>Contact Me</h2>
      <ContactForm client:load /></main>
   
  
</DefaultLayout>
