---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Credits">
    <section class="my-12">
        <div class="space-content container">
          <h1>Credits</h1>
          <p class="text-2xl">
            Astro theme by Mark Teekman: https://github.com/markteekman/accessible-astro-starter</p>
        <p class="text-2xl">Illustrations by Pablo Stanley</p>
          </div>
      </section>
</DefaultLayout>
