---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Credits">
    <section class="my-12">
        <div class="space-content container">
          <h1>Credits</h1>
          <p class="text-2xl">
            <a href="https://github.com/markteekman/accessible-astro-starter">Astro theme</a> by Mark Teekman</p>
            <p class="text-2xl">Illustrations by <a href="blush.com">Pablo Stanley</a></p>
            <p class="text-2xl">Icons by <a href="">Lucide</a> and <a href="https://iconscout.com/icons/bluesky" class="text-underline font-size-sm" target="_blank">bluesky</a> by <a href="https://iconscout.com/contributors/travisavery" class="text-underline font-size-sm">Sketchi.co</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a></p>
          </div>
      </section>
</DefaultLayout>
