---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Credits">
    <section class="my-12">
        <div class="space-content container">
          <h1>Credits</h1>
          <p class="text-2xl">
            <a href="https://github.com/markteekman/accessible-astro-starter">Astro theme</a> by Mark Teekman</p>
            <p class="text-2xl">3D Illustrations by Ekata Studio on Canva</p>
            <p class="text-2xl">Icons by <a href="https://lucide.dev/">Lucide</a> and <a href="https://iconscout.com/icons/bluesky" class="text-underline font-size-sm" target="_blank">bluesky</a> by <a href="https://iconscout.com/contributors/travisavery" class="text-underline font-size-sm">Sketchi.co</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a> and <a href="https://iconscout.com/icons/x" class="text-underline font-size-sm" target="_blank">x</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a></p>
            <p class="text-2xl flex"> Handmade with love 
              <svg 
                  xmlns="http://www.w3.org/2000/svg" 
                  width="24" 
                  height="24" 
                  viewBox="0 0 24 24" 
                  fill="none" 
                  stroke="currentColor" 
                  stroke-width="2" 
                  stroke-linecap="round" 
                  stroke-linejoin="round" 
                  class="lucide ml-2 mr-2"
                >
                <path d="M11 14h2a2 2 0 1 0 0-4h-3c-.6 0-1.1.2-1.4.6L3 16"/>
                <path d="m7 20 1.6-1.4c.3-.4.8-.6 1.4-.6h4c1.1 0 2.1-.4 2.8-1.2l4.6-4.4a2 2 0 0 0-2.75-2.91l-4.2 3.9"/>
                <path d="m2 15 6 6"/>
                <path d="M19.5 8.5c.7-.7 1.5-1.6 1.5-2.7A2.73 2.73 0 0 0 16 4a2.78 2.78 0 0 0-5 1.8c0 1.2.8 2 1.5 2.8L16 12Z"/></svg> 
                in Boston, MA USA. 
              </p>
          
          </div>
      </section>
</DefaultLayout>
