---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import ContentMedia from '../components/ContentMedia.astro'
---
<DefaultLayout title="Projects">
  <section class="my-12">
    <div class="space-content container">
  <h1>Projects</h1>

  <p class="text-2xl"> I've been creating community and exciting, creative demos and interesting projects for years. Discover some of them here. Many are powered by the <a href="https://www.kaggle.com/jenlooper/datasets">datasets</a> I manage on Kaggle. You can download several of the free items associated with these projects on <a href="https://jenlooper.gumroad.com/">Gumroad</a>.</p>
  
  <h2>Global Communities</h2>
  <ContentMedia imgSrc="/ff.png">
    <h2>Front-End Foxes, Inc.</h2>
    <p class="text-2xl">
      Formerly Vue Vixens, Inc., this international nonprofit survived COVID by transforming from in person workshops to an online school; we educated hundreds of women over 5 years and have several success stories.
    </p>
    <p class="text-2xl">Learn more <a href="https://ff-school.jenlooper.com">here</a>.</p>
  </ContentMedia>
  <ContentMedia imgSrc="/cc.png">
    <h2>AWS Cloud Clubs</h2>
    <p class="text-2xl">
      In February of 2023 my team at AWS launched AWS Cloud Clubs worldwide. We have grown immensely since then and are a global phenomenon.
    </p>
    <p class="text-2xl">Learn more <a href="https://www.meetup.com/pro/cloud-clubs">here</a>.</p>
  </ContentMedia>

  <h2>Educational and Fun Demos</h2>

  <ContentMedia imgSrc="/saree.png">
    <h2>Saree Detector App</h2>
    <p class="text-2xl">
      This app was built as a demo to show how image recognition capabilities can be used for artisan textiles, to enhance connoisseurship.</p>
    <p class="text-2xl">
      Watch the TEDx talk <a href="https://youtu.be/y6qopiBGK-E">here</a>.</p>
  </ContentMedia>

  <ContentMedia imgSrc="/omb.jpg">
    <h2>Ombromanie</h2>
    <p class="text-2xl">
      Tell stories with just your hands - and use hand poses to capture them via a web app!</p>
    <p class="text-2xl">
      Visit the GitHub repo <a href="https://github.com/jlooper/ombromanie">here</a>.</p>
  </ContentMedia>

  <ContentMedia imgSrc="/posedance.png">
    <h2>PoseDance, a TikTok Trainer app</h2>
    <p class="text-2xl">
      Learn how to dance like an influencer on TikTok with this web app, which uses body poses to track and score your smooth moves.</p>
    <p class="text-2xl">
      Visit the GitHub repo <a href="https://github.com/jlooper/posedance">here</a>.</p>
  </ContentMedia>

  <ContentMedia imgSrc="/story.png">
    <h2>Project Troubadour: A Storytelling Web App</h2>
    <p class="text-2xl">
      Created in conjunction with Microsoft and the Smithsonian's Cooper Hewitt Museum of Design - use a Museum's API to construct connected stories.
    </p>
    <p class="text-2xl">
      Visit the GitHub repo <a href="https://github.com/jlooper/storytelling-app">here</a>.</p>
  </ContentMedia>

  <ContentMedia imgSrc="/wineup.png">
    <h2>WineUp: Your Pocket Sommelier</h2>
    <p class="text-2xl">
      Wine and cheese pairings, powered by ML and the Wine Spectator API. A mobile app demo.
    </p>
    <p class="text-2xl">
      Visit the GitHub repo <a href="https://github.com/jlooper/wineup">here</a>.</p>
  </ContentMedia>

  <ContentMedia imgSrc="/t.jpg">
    <h2>Twist & Shout: Beatles Tribute App</h2>
    <p class="text-2xl">
A mobile app celebrating the Beatles with ML song generators, an album cover recreation tool, and more    </p>
    <p class="text-2xl">
      Visit the GitHub repo <a href="https://github.com/jlooper/twistnshout">here</a>.</p>
  </ContentMedia>

  <ContentMedia imgSrc="/emily.png">
    <h2>EMiLy App: Emily Dickinson tribute app</h2>
    <p class="text-2xl">
      Celebrate Emily Dickinson's oeuvre with ML-generated poetry 
    </p>
    <p class="text-2xl">
      Visit the GitHub repo <a href="https://github.com/jlooper/emily">here</a>.</p>
  </ContentMedia>

  <ContentMedia imgSrc="/mix.png">
    <h2>MixoLogy: What's in my minibar?</h2>
    <p class="text-2xl">
      Take a pic of your minibar's contents, suggest a cocktail to make, or shake the phone for an AI-generated suggested recipe!
    </p>
    <p class="text-2xl">
      Visit the GitHub repo <a href="https://github.com/jlooper/mixology-mobile">here</a>.</p>
  </ContentMedia>


  
  <ContentMedia imgSrc="/wa-color.png">
    <h2>The Well-Architected Coloring Book</h2>
    <p class="text-2xl">
      To reinforce the ideas that underpin the six pillars of the framework, here's a coloring book that will help you remember them.
    </p>
    <p class="text-2xl">Learn more <a href="https://jenlooper.gumroad.com/l/wa-color">here</a>.</p>
  </ContentMedia>
  
  <ContentMedia imgSrc="/tarot.png">
    <h2>AWS Tarot</h2>
    <p class="text-2xl">
      The companion web site of a not-too-serious Tarot card deck that references AWS services
    </p>
    <p class="text-2xl">Learn more <a href="https://aws-tarot.netlify.app">here</a>.</p>
  </ContentMedia>
  <ContentMedia imgSrc="/glorious.png">
    <h2>Ye Glorious Historiae of Ye Cloud</h2>
    <p class="text-2xl">
      A completely anachronistic journey into cloud computing topics using Bayeux imagery. Because why not.
    </p>
    <p class="text-2xl">Learn more <a href="https://www.webtoons.com/en/canvas/ye-glorious-historiae-of-ye-cloud/list?title_no=926508">here</a>.</p>
  </ContentMedia>
  
  
  
  
  
  </div>
</section>
</DefaultLayout>
