---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import ContentMedia from '../components/ContentMedia.astro'
---
<DefaultLayout title="Projects">
  <section class="my-12">
    <div class="space-content container">
  <h1>Projects</h1>
  <ContentMedia imgSrc="/illus.jpg">
    <h2>The Illustrated AWS Cloud</h2>
    <p class="text-2xl">
      In this book from Wiley, learn all about the AWS Cloud and prepare for the Cloud Practitioner Exam, learning Cloud fundamentals alongside Jen (storyteller) and Denise Yu (illustrator). This book doubles as a coloring book!
    </p>
    <p class="text-2xl">Learn more <a href="https://illustratedaws.cloud">here</a>.</p>
  </ContentMedia>
  <ContentMedia imgSrc="/cs4kids.png">
    <h2>Computer Science for Kids: A Storytelling Approach</h2>
    <p class="text-2xl">
      Aligned for grades 6-8, this textbook is for sale on Amazon and at a bookstore near you. It's a rethinking of the Middle School Computer Science curriculum and includes a web site and GitHub code in a project-based, storytelling-infused format. Watch for the 'hidden curriculum' featuring sustainability!
    </p>
    <p class="text-2xl">Learn more <a href="https://cs4kids.club">here</a>.</p>
  </ContentMedia>
  <ContentMedia imgSrc="/cc.png">
    <h2>AWS Cloud Clubs</h2>
    <p class="text-2xl">
      In February of 2023 my team at AWS launched AWS Cloud Clubs worldwide. We have grown immensely since then and are a global phenomenon.
    </p>
    <p class="text-2xl">Learn more <a href="https://www.meetup.com/pro/cloud-clubs">here</a>.</p>
  </ContentMedia>
  <ContentMedia imgSrc="/wa-color.png">
    <h2>The Well-Architected Coloring Book</h2>
    <p class="text-2xl">
      To reinforce the ideas that underpin the six pillars of the framework, here's a coloring book that will help you remember them.
    </p>
    <p class="text-2xl">Learn more <a href="https://jenlooper.gumroad.com/l/wa-color">here</a>.</p>
  </ContentMedia>
  <ContentMedia imgSrc="/ai-kids.png">
    <h2>AI for Kids</h2>
    <p class="text-2xl">
      In this gentle introduction to Artificial Intelligence, we use simple language to describe the vocabulary and concepts that underlie this important field.
    </p>
    <p class="text-2xl">Learn more <a href="https://jenlooper.gumroad.com/l/ai-for-kids-book">here</a>.</p>
  </ContentMedia>
  <ContentMedia imgSrc="/tarot.png">
    <h2>AWS Tarot</h2>
    <p class="text-2xl">
      The companion web site of a not-too-serious Tarot card deck that references AWS services
    </p>
    <p class="text-2xl">Learn more <a href="https://aws-tarot.netlify.app">here</a>.</p>
  </ContentMedia>
  <ContentMedia imgSrc="/glorious.png">
    <h2>Ye Glorious Historiae of Ye Cloud</h2>
    <p class="text-2xl">
      A completely anachronistic journey into cloud computing topics using Bayeux imagery. Because why not.
    </p>
    <p class="text-2xl">Learn more <a href="https://www.webtoons.com/en/canvas/ye-glorious-historiae-of-ye-cloud/list?title_no=926508">here</a>.</p>
  </ContentMedia>
  <ContentMedia imgSrc="/ff.png">
    <h2>Front-End Foxes, Inc.</h2>
    <p class="text-2xl">
      Formerly Vue Vixens, Inc., this international nonprofit survived COVID by transforming from in person workshops to an online school; we educated hundreds of women over 5 years and have several success stories.
    </p>
    <p class="text-2xl">Learn more <a href="https://ff-school.jenlooper.com">here</a>.</p>
  </ContentMedia>
  <ContentMedia imgSrc="/webdev.png">
    <h2>Web Dev for Beginners</h2>
    <p class="text-2xl">
      I designed and developed the viral "For Beginners" at Microsoft. These are free and open repos on GitHub with thousands of stars, ranking highly in most-starred repos globally.
    </p>
    <p class="text-2xl">Learn more <a href="https:/aka.ms/webdev-beginners">here</a>. Sketchnotes by Tomomi Imuri</p>
  </ContentMedia>
  <ContentMedia imgSrc="/ml.png">
    <h2>Machine Learning for Beginners</h2>
    <p class="text-2xl">
      Among other curricula developed at Microsoft, I designed and wrote large parts of the Machine Learning for Beginners Curriculum.
    </p>
    <p class="text-2xl">Learn more <a href="https:/aka.ms/ml-beginners">here</a>. Sketchnotes by Tomomi Imuri</p>
  </ContentMedia>
  <ContentMedia imgSrc="/mazines.png">
    <h2>MaZine Learning</h2>
    <p class="text-2xl">
      Free printables that you fold into small zines. Learn all about Machine Learning with Professor Puff! Coming soon: Cloud Computing zines.
    </p>
    <p class="text-2xl">Learn more <a href="https://zines.jenlooper.com">here</a>.</p>
  </ContentMedia>
  <ContentMedia imgSrc="/snappy.png">
    <h2>Snappy Squirrel</h2>
    <p class="text-2xl">
      Learn about personal finance following Snappy Squirrel's adventures as he buys a house, gets into debt, and learns about saving!
    </p>
    <p class="text-2xl">Learn more <a href="https://snappy-squirrel.netlify.app">here</a>.</p>
  </ContentMedia>
  <ContentMedia imgSrc="/quicknoms.png">
    <h2>QuickNoms</h2>
    <p class="text-2xl">
      5 ingredients, 15 minutes, dinner is served!
    </p>
    <p class="text-2xl">Learn more <a href="https://quicknoms.netlify.app">here</a>.</p>
  </ContentMedia>
  <ContentMedia imgSrc="/thinglearn.png">
    <h2>ThingLearn</h2>
    <p class="text-2xl">
      It's a curriculum, a community, and a lot of fun! Let's learn about the Internet of Things together.
    </p>
    <p class="text-2xl">Learn more <a href="https://thinglearn.netlify.app">here</a>.</p>
  </ContentMedia>
  </div>
</section>
</DefaultLayout>
