---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import SearchField from '../components/SearchField.astro'
---


<DefaultLayout title="Search" description="Find what you\'re looking for!">
  <section class="container max-w-6xl mx-auto px-6 md:px-12 py-16">
    <div class="space-y-8">
        <h1 class="font-serif text-4xl md:text-5xl lg:text-6xl font-semibold text-foreground leading-tight">Seek & Ye Shall Find!</h1>
        <div class="prose prose-lg max-w-none">
            <SearchField id="search" className="my-8 w-full border-2 border-gray-300 rounded-md p-2" />
          </div>
        </div>
    </section>
</DefaultLayout>

<style>

  
  :global(.pagefind-ui) {
    --pagefind-ui-scale: 1.2;
    --pagefind-ui-primary: var(--action-color);
    --pagefind-ui-text: var(--font-color);
    --pagefind-ui-background: var(--background);
    --pagefind-ui-border: var(--neutral-background);
    --pagefind-ui-tag: var(--action-color);
  }

  
  :global(.pagefind-ui .pagefind-ui__result) {
    border: 1px solid var(--neutral-background);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: var(--radius-small);
  }

  :global(.pagefind-ui .pagefind-ui__result-title) {
    font-size: var(--text-xl);
    color: var(--action-color);
  }

  :global(.pagefind-ui .pagefind-ui__result-excerpt) {
    font-size: var(--text-lg);
    color: var(--font-color);
  }

  :global(.darkmode) :global(.pagefind-ui) {
    --pagefind-ui-text: var(--font-color);
    --pagefind-ui-background: var(--background);
    --pagefind-ui-border: var(--neutral-background);
    --pagefind-ui-tag: var(--action-color-state);
  }
  </style>