---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import SearchField from '../components/SearchField.astro'
---


<DefaultLayout title="Search" description="Find what you\'re looking for!">
    <section class="my-12">
        <div class="space-content container">
        <h1>Search</h1>
        <SearchField id="search" className="my-4" />
        </div>
    </section>
</DefaultLayout>