---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Thanks">
    <section class="my-12">
        <div class="space-content container">
          <h1>Thank you!</h1>
          <p class="text-2xl">
            Thank you for contacting me. I'll get back to you as soon as I can.
          </p>
         </div>
      </section>
</DefaultLayout>
