<div>
  <img src="/assets/profile.jpg" alt="Headshot of Jen Looper">
  <p>
    Hi, I'm Jen. I'm based in Boston, USA.
    You can follow me on <a href="https://www.dev.to/jenlooper" target="_blank">Dev.to</a> and
    see some of my technical work on <a href="https://www.github.com/jlooper" target="_blank">GitHub</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
