<div>
  <img src="/assets/profile.jpg" alt="Headshot of Jen Looper">
  <p>
    Hi, I'm <strong>Jen</strong>. I'm the Head of Academic Advocacy at AWS (Amazon) based in Boston, USA.
    You can follow me on <a href="https://www.twitter.com/jenlooper" target="_blank">Twitter</a>,
    see some of my work on <a href="https://www.github.com/jlooper" target="_blank">GitHub</a>,
    or find me on <a href="https://www.linkedin.com/in/jenlooper/" target="_blank">LinkedIn</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
