---

const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - <a
          href="https://github.com/jenlooper">Jen Looper</a
        >. <a href="/credits">Credits</a>.
      </p>
    </div>
  </section>
</footer>
