---
import Navigation from '../components/Navigation.astro'
import { SkipLink } from 'accessible-astro-components'

// Get current path for active state
const currentPath = Astro.url.pathname;
---

<header>
  <SkipLink />
  <Navigation>
    <ul class="flex flex-wrap md:flex-nowrap gap-4 justify-center">
      <li class="menu-item">
        <a 
          href="/about/" 
          class:list={[
            "whitespace-nowrap hover:text-action-color transition-colors duration-200",
            { "border-b-2 border-action-color": currentPath === "/about/" }
          ]}
        >
          About
        </a>
      </li>
      <li class="menu-item">
        <a 
          href="/projects/" 
          class:list={[
            "whitespace-nowrap hover:text-action-color transition-colors duration-200",
            { "border-b-2 border-action-color": currentPath === "/projects/" }
          ]}
        >
          Projects
        </a>
      </li>
      <li class="menu-item">
        <a 
          href="/blog/" 
          class:list={[
            "whitespace-nowrap hover:text-action-color transition-colors duration-200",
            { "border-b-2 border-action-color": currentPath === "/blog/" }
          ]}
        >
          Articles
        </a>
      </li>
      <li class="menu-item">
        <a 
          href="/books/" 
          class:list={[
            "whitespace-nowrap hover:text-action-color transition-colors duration-200",
            { "border-b-2 border-action-color": currentPath === "/books/" }
          ]}
        >
          Books
        </a>
      </li>
      <li class="menu-item">
        <a 
          href="/speaking/" 
          class:list={[
            "whitespace-nowrap hover:text-action-color transition-colors duration-200",
            { "border-b-2 border-action-color": currentPath === "/speaking/" }
          ]}
        >
          Speaking
        </a>
      </li>
      <li class="menu-item">
        <a 
          href="/curricula/" 
          class:list={[
            "whitespace-nowrap hover:text-action-color transition-colors duration-200",
            { "border-b-2 border-action-color": currentPath === "/curricula/" }
          ]}
        >
          Curricula
        </a>
      </li>
      <li class="menu-item">
        <a 
          href="/contact/" 
          class:list={[
            "whitespace-nowrap hover:text-action-color transition-colors duration-200",
            { "border-b-2 border-action-color": currentPath === "/contact/" }
          ]}
        >
          Contact
        </a>
      </li>
      <li class="menu-item">
        <a 
          href="/search/" 
          class:list={[
            "whitespace-nowrap hover:text-action-color transition-colors duration-200",
            { "border-b-2 border-action-color": currentPath === "/search/" }
          ]}
        >
          🔎
        </a>
      </li>
    </ul>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        height: auto;
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
