---
const { src = "/3d-home.png" } = Astro.props;
---

<section class="hero my-12">
  <div class="container w-full max-h-[400px]">
    <div class="grid grid-cols-1 items-start gap-4 lg:grid-cols-3">
      <div class="flex flex-col items-start gap-6 md:items-start lg:col-span-2 lg:self-start">
        <h1 class="text-center md:text-left">
          <span class="text-gradient">Hi, I'm Jen!</span>
        </h1>
        <h2 class="flex flex-col gap-3 min-[500px]:flex-row">
          I'm an author, educator, & creative technologist.
        </h2>
        <h3 class="flex flex-col gap-3 min-[200px]:flex-row">
          I've founded a nonprofit, written books, built viral curricula with millions of views, and led the creation of student communities with
          thousands of members. Let's learn from each other!
        </h3>
        <h3 class="font-bold">Subscribe to my weekly <a target="_blank" href="https://www.linkedin.com/build-relation/newsletter-follow?entityUrn=7299544901526958081">AI Drops newsletter</a></h3>
      </div>
      <div class="lg:col-span-1">
        <img src={src} alt="Decorative 3D illustration" class="max-h-[500px] hidden lg:block" decoding="async" />
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(
      315deg,
      var(--primary-200) 25%,
      var(--secondary-500)
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(
      315deg,
      var(--primary-200) 25%,
      var(--secondary-400)
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
