---
import { DarkMode } from 'accessible-astro-components'
import { Image } from 'astro:assets'
import logo from '../assets/img/logo.png'
---

<div id="main-navigation" class="is-desktop">
  <div class="container">
    <a href="/" class="flex items-center gap-2 !no-underline">
      <Image 
        src={logo} 
        alt="Jen Looper" 
        width={150} 
        height={150}
        quality={100}
        class="w-[75px] h-[75px] md:w-[100px] md:h-[100px]"
      />
    </a>
    <div class="wrapper">
      <nav class="desktop-menu" aria-label="Main navigation desktop">
        <ul class="menu">
          <slot />
        </ul>
      </nav>
      <DarkMode />
      
    </div>
    <nav class="mobile-menu" aria-label="Main navigation mobile">
      <ul class="menu">
        <slot />
      </ul>
    </nav>
  </div>
  <div class="bg-yellow-200 p-4 font-bold text-center top-banner">🚀 Just Launched! <a href="https://beanpotstudio.com" target="_blank">Beanpot Studio</a> for educator- and student-centric education technology solutions. Find the studio online and request information for your testing and certification needs.</div>
</div>


<style lang="scss" is:global>
  @use '../assets/scss/base/breakpoint' as *;
  @use '../assets/scss/base/outline' as *;

  #main-navigation {

    //get rid of outline
    .darkmode-toggle {
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    
    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:focus-visible {
      outline: none;
      box-shadow: none;
    }
  }

    background-color: var(--neutral-background);
    > .container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &.is-desktop {
      .desktop-menu {
        visibility: visible;
        position: static;
      }

      .mobile-menu {
        display: none;
      }

      .darkmode-toggle {
        margin-top: -6px;
      }
    }

    &.is-mobile {
      flex-direction: column;

      .mobile-menu {
        display: none;

        &.show {
          display: block;
        }
      }

      .desktop-menu {
        visibility: hidden;
        z-index: -99;
        position: absolute;
        left: 0;
      }

  
    }

    .wrapper {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    nav {
      > ul {
        display: flex;
        gap: 1.5rem;
        list-style-type: none;

        a,
        button {
          text-decoration: none;
          font-size: 1.125rem;
          line-height: 1.6875rem;
        }

        a:hover,
        .is-active {
          text-decoration: underline;
          text-decoration-thickness: 2px;
          text-underline-offset: 7px;
        }

      
      }
    }

    .mobile-menu {
      flex-basis: 100%;
      padding: 2rem 0;

      > ul {
        flex-direction: column;

        ul {
          position: relative;
          margin-top: 1rem;
        }
      }

      a,
      button {
        display: block;
        width: 100%;
        padding: 0.5rem 0;
      }
    }

    
  }

  .darkmode-toggle {
    padding: 0;
    
    svg {
      width: 30px;
      margin-top: 6px;
    }

    svg path {
      fill: var(--action-color);
    }

    &:hover {
      svg path {
        fill: var(--action-color-state);
      }
    }

    &:focus {
      @include outline;

      &:not(:focus-visible) {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .top-banner {
    // default text color (inherits)
  }
  .darkmode .top-banner,
  .dark .top-banner {
    color: #000 !important;
  }
  .darkmode .top-banner a,
  .dark .top-banner a {
    color: #bc72ee !important; /* Use your brand purple or Tailwind's purple-400 */
  }
</style>
