---
import "@pagefind/default-ui/css/ui.css";
interface Props {
  readonly id?: string;
  readonly className?: string;
}
const { id, className } = Astro.props;
const bundlePath = "/pagefind/"; // Remove 'dist' from path
const divProps = { ...(id ? { id }: {}), ...(className ? { class: className } : {}) };
---

<div {...divProps} data-pagefind-ui data-bundle-path={bundlePath}>
  <div class="search-loading" data-loading>Loading search...</div>
</div>

<script>
  async function initializeSearch() {
    try {
      const { PagefindUI } = await import("@pagefind/default-ui");
      document.querySelectorAll("[data-pagefind-ui]").forEach((el) => {
        const loadingEl = el.querySelector("[data-loading]");
        const bundlePath = el.getAttribute("data-bundle-path");
        if (!bundlePath) {
          console.error("Bundle path not found");
          return;
        }

        new PagefindUI({
          element: el,
          bundlePath,
          showImages: false,
          debounceTimeoutMs: 100
        });

        loadingEl?.remove();

      });
    } catch (error) {
      console.error("Search initialization failed:", error);
    }
  }

  document.addEventListener("astro:after-swap", initializeSearch);
  initializeSearch();
</script>


<style>
  .search-loading {
    opacity: 1;
    transition: opacity 0.3s ease-out;
  }
</style>